.choice {
   width: 100%;
}
.choice__container {
   padding-top: max(1.9em, min(3.375em, calc(100vw * 4 / 75)));
   position: relative;
}
.choice__bg {
   position: absolute;
   opacity: 0.1;
   left: -140px;
   bottom: 66px;
   z-index: 1;
}
.choice-2__bg {
   position: absolute;
   opacity: 0.1;
   right: -140px;
   bottom: 55px;
}
.choice__title {
   position: relative;
   text-align: center;
   margin-bottom: 12px;
}
.choice__text {
   position: relative;
   text-align: center;
   font-family: 'Gilroy-SemiBold',sans-serif;
   font-size: 16px;
   line-height: 22px;
   text-align: center;
   color: var(--t1-color);
   margin-bottom: max(25px, min(50px, calc(100vw * 3 / 75)));
}
.choice__list {
   position: relative;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}
.choice__item {
   width: 300px;
   height: auto;
   padding-left: max(34px, min(52px, calc(100vw * 3 / 75)));
   margin: 0px 15px;
   margin-bottom: max(20px, min(43px, calc(100vw * 3 / 75)));
   position: relative;
}
.choice__item:first-child::before {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 24px;
   height: 24px;
   background-image: url('../../img/svg/elegance-logo.svg');
}
.choice__item:nth-child(2)::before {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 24px;
   height: 24px;
   background-image: url('../../img/svg/widow-logo.svg');
}
.choice__item:nth-child(3)::before {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 24px;
   height: 24px;
   background-image: url('../../img/svg/trifling-logo.svg');
}
.choice__item:nth-child(4)::before {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 24px;
   height: 24px;
   background-image: url('../../img/svg/open-game-logo.svg');
}
.choice__item:nth-child(5)::before {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 24px;
   height: 24px;
   background-image: url('../../img/svg/endeavor-logo.svg');
}
.choice__item:nth-child(6)::before {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 24px;
   height: 24px;
   background-image: url('../../img/svg/comfort-logo.svg');
}
.choice__button {cursor: default;}
.choice__list._init .choice__item-title {cursor: pointer;}
.choice__item-title {
   text-align: start;
   position: relative;
   font-family: 'Gilroy-Bold',sans-serif;
   font-size: 18px;
   line-height: 22px;
   color: var(--t2-color);
   margin-bottom: 10px;
   z-index: 2;
}
.choice__item-text {
   position: relative;
   font-family: 'Gilroy-SemiBold',sans-serif;
   font-size: 14px;
   line-height: 22px;
   color: var(--t1-color);
   z-index: 2;
}
